* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Lato', sans-serif;
    /* outline: 1px solid red !important; */
}

html { 
    scroll-behavior: smooth;
    /* background-color: lightyellow; */
}


body {
    /* background-color: paleturquoise; */
    width:100%;
    overflow-x:hidden;
/* body and grid are same */
}

.grid {
    /* background-color: lightyellow; */
    /* border: 1px solid red; */
    /*(put padding of 1rem in each section instead) */
    display: grid;
    /* width: 100%; */
    
    width: 100vw; 
    max-width: 100%;
    
    height: auto; /* this is a guess*/
    grid-template-areas:
                        "nav"
                        "hero"
                        "skills"
                        "about"
                        "portfolio"
                        "contact";
    grid-template-columns: 1fr; 
    /* grid-template-rows: auto minmax(37rem, auto) 19rem 26rem minmax(49rem, auto) 25rem;    */
    /* grid-template-rows: auto minmax(37rem, auto) 19rem 26rem minmax(49rem, auto) auto ;        */
    /* grid-template-rows: auto minmax(30rem, 49rem) auto 26rem minmax(49rem, auto) auto ;        */
    grid-template-rows: auto auto auto auto minmax(49rem, auto) auto ;       
 
    /* background-color: lightgray; */
    justify-content: center; 

    overflow-x: hidden; 
    overflow-y: hidden; 

} 

/* .main-nav, */
.portfolio, 
.contact {
    padding: 1rem;
}

h3 {
    letter-spacing: 0.05rem;
    font-size: 2rem;
}

/* this and portfolio are causing problems */
.main-nav {
    grid-area: nav; 
    background: linear-gradient(to right, #e66465, #9198e5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    /* padding: 0.6rem 1rem;*/
 
    padding: 5px 1rem;            

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    /* display: none;  */
    /* background-color: lightgreen; */
}

.main-nav p {
    color: white; 
    /* font-size: calc(1.15rem + 0.7vw);      */
    font-size: 1.7rem;           
    letter-spacing: 0.05rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;  

}

.main-nav ul {
    display: flex;
    justify-content: center; 
    width: auto;             
    gap: 1rem;
    align-items: center;   
 
}

.main-nav li {
    font-size: calc(0.9rem + 0.25vw);              
    letter-spacing: 0.05rem;
    list-style: none;    
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    /* padding: calc(0.5rem + 0.3vw);                      */
    padding: calc(0.6rem);                         

    display: inline-block;
    transition: color 0.3s;
    color: white;
}

.main-nav .home-link { 
    padding: 0;
}

.main-nav a:hover { 
    cursor: pointer; 
    color: midnightblue; 
  } 

  .main-nav img {
    width: calc(2.5rem + 0.3vw);                 
    vertical-align: top;       
    filter: invert(100%);  


    /* margin: 0;   */
    /* display: inline;   */
    /* display: none;  */
    /* float: left;  */
} 



.main-nav img:hover {
    filter: invert(9%) sepia(96%) saturate(3435%) hue-rotate(241deg) brightness(82%) contrast(100%);
    transition: all 0.3s; 
}

.hero {
    grid-area: hero;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    gap: calc(1rem + 4.5vw);                      
    align-items: center;
    align-content: center;  
    text-align: center;
    color: midnightblue;
    letter-spacing: 0.1rem;
    /* width: 100%;   */ 
    flex-wrap: wrap; 
    position: relative;
    top: 56px;    
    padding: 5rem 0; 
}

.hero .intro {
    display: flex; 
    flex-direction: column; 
    justify-content: center;          
    gap: calc(1rem + 1.7vw);     
} 

.hero h1 {
    /* font-size: 3.2rem;  */
    font-size: calc(2.3rem + 1.0vw);                      
    max-width: 90vw; 

}

.hero h2 {
    font-size: 1.7rem;
    display: none;
    color: rgb(188, 23, 92)
}

.hero p {
    font-size: 1.3rem; 
    letter-spacing: 0.05rem;
    max-width: 90vw;  

}

.hero img {
    width: 90vw; 
    max-width: 33rem;        
    height: auto; 
    /* margin: 6rem 0;          */


    /* margin: 4rem 0;      */
}

.skills {
    /* background-color: lightblue;
    color: midnightblue; */
    grid-area: skills;
    position: relative;
    top: 56px;     
    background-color: rgb(85, 105, 187);
    color: rgb(255, 255, 255);

    display: flex;
    gap: 12rem;           
    
    align-items: center;    
    justify-content: center; 

    flex-wrap: wrap;   
    padding: 5rem 0; 
}

.checklist {
    /* max-width: 400px; */ 
    /* background: rgb(245, 232, 174);  */
    /* border: 5px solid rgba (200, 200, 200, 0);   */ 
    /* border-bottom-right-radius: 30px;    */
    display: grid;    

    overflow: hidden;             
    /* background-color: rgb(25, 146, 179);   */
    /* background-color: rgb(85, 105, 187); */
 
    /* border-radius: 5px;        */
    /* border: 1px solid red;   */
    row-gap: 1px;      
    column-gap: 1px;    
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1); 
    /* margin: 6.5rem 0;      */

    justify-content: center;       
/* 
     grid-template-areas: "html" "css"
                        "javascript" "react"
                        "redux" "excel"
                        "git" "design"
                        "responsive" "accessibility";    */

    /* width: auto;   */ 

    /* min-width: 271px; 
    width: 90vw;  
    max-width: 542px; */

    /* max-width: 54 2px;  */
 
    /* width: 600px;      */



    /* width: 100%;  */

    /* height: 200px;   */


    /* 
    542 on big screen
    on small screen, remains at 542*/


    /* height: auto;   */ 
    /* height: auto;  
    max-height: 900px;        */ 

    width: 545px;       
    max-width: 90vw;           
    grid-template-columns: repeat(auto-fill, 272px);          
    /* grid-template-columns: min-content 1fr;    */

    /* grid-template-rows: repeat(auto-fill, 64px);               */
 
    /* grid-template-columns: 1fr 1fr; */
    /* max-height: 350px;          */
    /* height: 20rem; */   
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr;     */
    /* grid-template-rows: repeat(auto-fill, 1fr);  */
}

  .item {
    display: flex; 
 
    background-color: rgb(237, 237, 253);
    background-color: rgb(245, 232, 174);   

    /* border: 1px solid black; */
    /* height: 63px;        */ 
    /* width: auto;       */

     /* border-top: 1px solid #F1F1F1;
    border-right:  1px solid #D1E2FF;      */

    /* border: 1px solid #F1F1F1;  */

    /* border-top: 2px solid #2a5f7b;
    border-left:  2px solid #cd3f37;   */
    /* border-style: double; */

    /* border-right: 1px dotted red;           */
  }

  .html {
    /* grid-area: html;
    width: 100%;  */
  }

  .css {
    /* grid-area: css;
    width: 100%;  */

  }

  .javascript {
    /* grid-area: javascript;
    width: 100%;  */

  }

  .react {
    /* grid-area: react;
    width: 100%;  */

  }

  .redux {
    /* grid-area: redux;
    width: 100%;  */

  }

  .excel {
    /* grid-area: excel;
    width: 100%;  */

  }

  .git {
    /* grid-area: git;
    width: 100%;  */

  }
  
  .design {
    /* grid-area: design;
    width: 100%;  */


  }
  .responsive-design {
    /* grid-area: responsive; 
    width: 100%;  */
  }

  .accessibility {
    /* grid-area: accessibility; 
    width: 100%;  */
  }

  .item img {
    width: 2.5rem;  
    height: auto;  
    margin-left: 3px;      
    align-self: center;     

  }

  
  .checklist p {
    color: midnightblue;  
    color:#ed2e77;        
    /* color:#ed2e4e;        */
    margin: 0; 
    transition: background 0.2s;
    flex: 1;
    font-size: 20px;
    font-weight: 400;            
    font-family: 'Coming Soon', cursive;    
    padding: 20px 20px 10px 20px;   

  }  


  @media only screen and (max-width: 605px) {      
    .checklist {
        box-shadow: none; 

    }
 
    .item {
        height: 50px;   
    }  

    .checklist p {
        font-size: 17px;        
        
    }

    .item img {
        width: 2rem;       
        height: auto;  
    }
}

.about {
    padding: 5rem 0;  
    grid-area: about;
    color: midnightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem; 
    background-color: rgba(209, 179, 223, 0.5);
    position: relative;
    top: 56px;     
    flex-wrap: wrap;  

    /* overflow: hidden; */

}

.about p {
    width: 90vw; 
    max-width: 50rem;   
    line-height: 2;
    text-align: justify;
}

.portfolio {
    grid-area: portfolio;
    color: midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5rem 0;  

    position: relative;
    top: 56px;     

}

.portfolio .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.5rem; 
    /* margin-bottom: 20rem; */
    /* border: 1px solid red; */
}

.portfolio .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;  
    max-width: 90rem;
    margin: 1rem;

}

/* add position and bottom back in if these are ok */
.portfolio .wrapper {
    border-radius: 30px;

    /* position: relative;
    bottom: 20px; */

}

.portfolio .wrapper img {
    height: 14rem;
    width: auto;
    max-width: 95vw;    

    border-radius: 30px; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);

}

.portfolio .wrapper:hover img {
    opacity: .5; 
    -webkit-filter: grayscale(100%) sepia(50%);
    filter: grayscale(100%) sepia(50%);
}

.portfolio .wrapper .description {
    position: absolute;
    top: 3rem;
    left: 2.5rem;
    margin: 0 auto;
    visibility:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: rgb(85, 105, 187); 
    color: white;
    width: 20rem;
    padding: 0.5rem 0;

    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);

    /* hiding mousover box for now because it causes horizontal scroll on mobile - it moves out of place. */
    display: none;  

}

.portfolio .wrapper:hover .description {
    visibility: visible;

}

.portfolio .wrapper .description p {
    padding: 0 0.5rem;

}

.portfolio .wrapper .description .button {
    font-size: 1.05rem;
    border-radius: 15px;
    padding: 0.25rem 0.5rem;
    margin: 0 0.3rem;
    background-color: lightgrey;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    display: inline-block;
    
}


.portfolio .wrapper .description .button:hover {
    cursor: pointer;
    background-color: white;

}

.portfolio .wrapper .description .button a {
    color: midnightblue;
    text-decoration: none;
}


.contact {
    grid-area: contact;
    background-color: rgb(85, 105, 187);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
     
    position: relative;
    top: 56px;     



    /* margin-bottom: 4rem;   */
}

.contact ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    align-items: center;
    /* border: 1px solid white; */
    /* /* position: relative;
    top: 2rem; */  
    padding: 4rem 0; 
}

.contact li {
    /* border: 1px solid black; */
    text-align: center;
    /* border: 1px solid midnightblue; */
}

.contact img {
    filter: invert(11%) sepia(64%) saturate(3401%) hue-rotate(235deg) brightness(90%) contrast(105%);
    vertical-align: middle;
    height: 3rem;
}

.contact h3 {
    /* position: relative;
    bottom: 2rem; */
    color: midnightblue;
}

.contact .github img {
    height: 3rem;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact span {
    padding: 0.75rem;
    vertical-align: middle;
}

@media only screen and (max-width: 700px) {
    .main-nav p {
        display: none;
    }
    .main-nav ul {
        margin: auto;
    }
    .hero h2 {
        display: block;   
    }

    .hero p {
        font-size: 1rem;   
    }
}

@media only screen and (max-width: 1032px) {
    .hero {
        padding: 4rem 0;   
    }
}

@media only screen and (max-width: 375px) {
    .main-nav ul {
        gap: 0rem; 
    }  

    .main-nav .home-link { 
        display: none;
    }
}

 /* when checklist & title cant fit comfortably alongside eachother */
@media only screen and (max-width: 1000px) { 
    .skills { 
        flex-direction: column; 
        gap: 2rem;             
    }

    .skills h3 {
        order: -1; 
    } 


} 


@media only screen and (max-width: 1060px) {   
    .about {
        flex-direction: column; 
        gap: 2.5rem;    
    }
}