* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Lato', sans-serif;    
    /* outline: 1px solid red !important;  */
}

html { 
    scroll-behavior: smooth; 
}

body {
    /* width: 100%;
    overflow-x: hidden; */ 
}

.grid {
    display: grid;    
    width: 100vw; 
    max-width: 100%;
    height: auto;
    grid-template-areas:
                        "nav"
                        "hero"
                        "skills"
                        "about"
                        "portfolio"
                        "contact";
    grid-template-columns: 1fr; 
    grid-template-rows: auto minmax(94vh, auto) auto auto auto auto;        
    justify-content: center; 
    /* overflow-x: hidden; 
    overflow-y: hidden;  */
} 

h3 {
    letter-spacing: 0.1rem;   
    font-size: 2.2rem;   
}

.main-nav {
    grid-area: nav; 
    background: linear-gradient(to right, #e66465, #9198e5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    padding: 5px 1rem;            
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.main-nav p {
    color: white; 
    font-size: 2rem;             
    letter-spacing: 0.1rem;   
    text-align: center;
    font-family: 'Coming Soon', cursive;      
}

.main-nav ul {
    display: flex;
    justify-content: center; 
    width: auto;             
    gap: 1rem;
    align-items: center;   
}

.main-nav li {
    font-size: calc(1rem + 0.2vw);               
    letter-spacing: 0.05rem;     
    list-style: none;    
}

.main-nav a {
    text-decoration: none;
    padding: calc(0.5rem + 0.2vw);                       
    display: inline-block;
    transition: color 0.3s;
    color: white;
}

.main-nav .home-link { 
    padding: 0;
}

.main-nav a:hover { 
    cursor: pointer; 
    color: midnightblue; 
} 

.main-nav img {
    width: calc(2.5rem + 0.3vw);                 
    vertical-align: top;       
    filter: invert(100%);  
} 

.main-nav img:hover {
    filter: invert(9%) sepia(96%) saturate(3435%) hue-rotate(241deg) brightness(82%) contrast(100%);
    transition: all 0.3s; 
}

.hero {
    grid-area: hero;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    gap: calc(1rem + 4.5vw);                      
    align-items: center;
    align-content: center;  
    text-align: center;
    color: midnightblue;
    letter-spacing: 0.1rem;
    flex-wrap: wrap; 
    position: relative;
    top: 56px;    
    padding: 5rem 0;  
    width: 95%;  
    margin-left: 2.5vw;   
}

.hero .intro {
    display: flex; 
    flex-direction: column; 
    justify-content: center;          
    gap: calc(1rem + 1.7vw);     
} 

.hero h1 {
    font-size: calc(2.0rem + 1.5vw);                       
    max-width: 90vw; 
}

.hero h2 {
    font-size: 1.7rem;
    display: none;
    color: rgb(188, 23, 92); 
}

.hero p { 
    font-size: calc(1rem + 0.3vw);     
    letter-spacing: 0.05rem;
    max-width: 90vw;  
}

.hero img {
    height: 75vh;  
    max-height: 50rem;        
    width: auto;   
}

.skills {
    grid-area: skills;
    position: relative;
    top: 56px;     
    background-color: rgb(105, 125, 204); 
    color: rgb(255, 255, 255);
    display: flex;
    gap: calc(7rem + 2vw);   
    align-items: center;    
    justify-content: center; 
    flex-wrap: wrap;   
    padding: 5.5rem 0;  
}

.checklist {
    display: grid;    
    overflow: hidden;             
    row-gap: 1px;      
    column-gap: 1px;    
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1); 
    justify-content: center;       
    width: 545px;       
    max-width: 90vw;           
    grid-template-columns: repeat(auto-fill, 272px);          
}

  .item {
    display: flex; 
    background-color: rgb(245, 232, 174);   
  }

  .item img {
    width: 2.5rem;  
    height: auto;  
    margin-left: 3px;      
    align-self: center;     
  }

  .checklist p {
    color:#ed2e77;        
    margin: 0; 
    transition: background 0.2s;
    flex: 1;
    font-size: 20px; 
    font-family: 'Coming Soon', cursive;    
    padding: 20px 20px 10px 20px;   
  }  

  .about {
    grid-area: about;
    background-color: rgb(252, 220, 233);
    color: rgb(56, 1, 30);
    position: relative;
    top: 56px;       
    display: flex; 
    justify-content: center; 
}

  .about .container {
    width: 95%;
    display: flex;
    justify-content: center; 
    gap: 7rem; 
    padding: 5rem 0;    
    align-items: center;  
    flex-wrap: wrap; 
  }


.about p {
    width: 50rem;
    max-width: 90vw; 
    line-height: 2;
    text-align: justify;
    padding: 1rem; 
}

.portfolio {
    grid-area: portfolio;
    color: rgb(66, 66, 186); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;          
    position: relative;
    top: 56px;     
}

.portfolio .flex {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    row-gap: 4rem;           
    max-width: 95%; 
}

.portfolio .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;         
    max-width: 90rem; 
}

.portfolio .wrapper {
    width: 600px; 
    max-width: 90vw;        
    height: auto;      
    position: relative;  
}

.portfolio .wrapper img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  
    background-color: rgba(0, 0, 0, 0.75);  
    width:100%;  
    height:100%;    
}

.portfolio .wrapper .description {
    position: absolute;   
    height: 100%; 
    width: 100%; 
    top: 0;  
    display: flex;
    gap: 1rem;   
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    text-align: center; 
    background-color: rgba(148, 159, 245, 1);
    color: midnightblue;  
    font-size: 1.15rem;    
    text-align: middle;    
    visibility: hidden;
}

.portfolio .wrapper .description p {
    width: 80%;   
    padding: 0.5rem;   
}

.portfolio .wrapper:hover .description {
    visibility: visible; 
    animation: fadeIn 0.3s;  
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} 

.portfolio .wrapper .description .button-container { 
    display: flex;
    gap: 2rem; 
}

.portfolio .wrapper .description .button {
    border-radius: 5px; 
    padding: 0.25rem 0.75rem;  
    margin: 0 0.3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: inline-block;
}

.portfolio .wrapper .description .button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); 
}

.portfolio .wrapper .description .button a {
    text-decoration: none;
    color: midnightblue;   
}

.contact {
    list-style: none; 
    grid-area: contact;
    background-color: rgb(103, 93, 154);   
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: center;    
    align-items: center;  
    position: relative;
    top: 56px;   
    padding: 4rem 0;        
    margin-bottom: 56px;  
    line-height: 2;  
}

.contact .container {
    display: flex; 
    width: 65rem;   
    max-width: 90vw; 
    flex-wrap: wrap;
    justify-content: center;  
    gap: calc(0.4rem + 4vw);         
}

.contact h3 {
    color: rgb(255, 255, 255);  
}

.contact ul {
    display: flex;
    gap: 1.5rem;    
    list-style: none;
    align-items: center;
}

.contact img {
    filter: invert(99%) sepia(1%) saturate(2182%) hue-rotate(230deg) brightness(116%) contrast(100%);
    vertical-align: middle;
    height: 3rem;
}

.contact .github img {
    height: 3rem;
}

.contact a {
    color: rgb(255, 255, 255);  
    text-decoration: none;  
}

.contact span {
    padding: 0.5rem;  
    vertical-align: middle;
}

/* when hero wraps */
@media only screen and (max-width: 1174px) {  
    .hero {
        gap: 1.5rem;         
    }
    .hero img {
        width: 85vw;   
        max-width: 35rem;             
        height: auto; 
    }
}

/* when about section wraps */
@media only screen and (max-width: 1155px) {     
    .about .container { 
        flex-direction: column; 
        gap: 2.5rem;      
    }
}

 /* when checklist & title cant fit comfortably alongside eachother */
 @media only screen and (max-width: 950px) {  
    .skills { 
        flex-direction: column; 
        gap: 3rem;                 
    }
    .skills h3 {
        order: -1; 
    } 
} 

/* when nav cant fit logo */
@media only screen and (max-width: 750px) { 
    .main-nav p {
        display: none;
    }
    .main-nav ul {
        margin: auto;
    }
    .hero h2 {
        display: block;   
    }
} 

/* when checklist can't fit 2 columns */ 
@media only screen and (max-width: 605px) {      
    .checklist {
        box-shadow: none; 
    }
    .item {
        height: 50px;   
    }  
    .item img {
        width: 2rem;        
        height: auto;  
    }
    .checklist p {
        font-size: 17px;         
    }
}

/* on small screens, reduce padding on hero */ 
@media only screen and (max-width: 425px) {
    .hero {
        padding: 2rem 0;                            
    } 
}

/* on narrow mobiles, to fit nav in */
@media only screen and (max-width: 375px) {
    .main-nav ul {
        gap: 0rem;    
    }  
    .main-nav .home-link { 
        display: none;
    }
}
