* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

* { 
  margin: 0; 
  padding: 0; 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
}


header {
  height: 14rem;
  background-color: rgb(238, 133, 7);
  color: white;
  position: fixed;
  /* top: 0; */
  width: 100%;
  z-index: 10;
}

main {
  position: relative;
  top: 14rem;
  /* background-color: red; */
}

.title-box {
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  Font-Size: 2.75rem;
  position: relative;
  margin-top: -3rem;
}

.logo-box {
  height: 170px;
  width: 170px;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

.logo {
  /* border: 1px solid black; */
  height: 250px;
  margin-top: -41px;
  margin-left: -41px;
}

.title {
  display: inline-block;
  vertical-align: middle;
  line-height: 170px;
}

.title-box-small {
  display: none;
}

.nav-bar ul {
  vertical-align: bottom;
  background-color: white;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  border-bottom: 2px solid rgb(238, 133, 7);
 
} 

.nav-bar ul li {
  display: inline;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  color: rgb(238, 133, 7);
  letter-spacing: -0.05rem;
} 

.social-media ul {
  text-align: right;
}

.social-media ul li {
  display: inline-block;
  margin: 0.25rem;
}

.social-media ul li img {
  height: 50px;
  width: 50px;
  }

.social-media ul li .instagram {
  height: 45px;
  width: 45px;
}

.social-media ul li .trip-advisor {
  height: 55px;
  width: 55px;
  vertical-align: bottom;
}

.social-media ul li .twitter {
  height: 47px;
  width: 47px;
  vertical-align: bottom;
}

.hero-section {
  /* height: 22rem; */
  /* height: auto; */
  max-width: 1078px;
  margin: 0 auto;
  border-radius: 100px;
}

.hero-outer-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  border-radius: 100px;
  background-color: rgb(174, 203, 232);
}

.hero-section .storefront-hero-img  {
  /* width: 25%; */
  /* min-width: 478px;
  max-width: 478px; */
  width: 478px;
  height: 25rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;


  /* height: auto; */
    /* max-width: 700px; */
  /* display: inline-block; */
  /* vertical-align: top; */
  /* flex: 1 1 1440px; */
}

.hero-section .hero-text-box {
  /* display: inline-block; */
  /* float: right; */
  /* width: 45%; */
  width: 600px;
  /* color: rgb(34, 14, 9); */
  color: rgb(24, 29, 69);
  height: 25rem;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  text-align: center;
  /* flex: 1 1 1440px; */
}

.hero-section h2 {
  margin-bottom: 1rem;
  /* text-align: center; */
  font-family: 'Varela Round', sans-serif;
  font-size: 1.75rem;
}

.hero-section div p {
  Font-Family: 'Maven Pro', Sans-Serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: justify;
  margin-bottom: 1.25rem;
}

.hero-section .button-container {
  width: 100%;
  text-align: center;
  /* margin-top: 0.75rem; */
}

.hero-section .button {
  border: 1px solid rgb(24, 29, 69);
  border-radius: 20px; 
  width: 7rem;
  display: inline-block;
  padding: 0.25rem;
  Font-Family: 'Maven Pro', Sans-Serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.hero-section .button:hover { 
  cursor: pointer; 
} 

.button:active { 
  background-color: hsl(210, 55.8%, 70%);
  font-weight: bold;
  transition: all 0.2s ease-in-out; 


}


@media only screen and (max-width: 1280px) {

    /* logo gets small
  title breaks into 2 line and lose frozen yoghurt
  
  nav bar goes to top row, 
  left alligned and in line with socials. */

  /* .logo {
    display: none;
  } */

  .title-box {
    display: none;
  }
  
  .title-box-small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    Font-Size: 2rem;
    position: relative; 
    margin-top: -4rem; 
    width: 17rem;
  }

  .logo-box-small {
    display: inline-block;
    height:87px;
    width:87px;
    overflow: hidden;
    vertical-align: bottom;
  }

  .logo-small {
    display: inline-block;
    height:125px;
    width: auto;
    margin-top: -20px;
    margin-left: -20px;
  }

  .title-small {
    margin-left: 0.5rem;
    font-size: 2rem;
    /* max-width: 800px;
    min-width: 200px; */
    width: 175px;
    text-align: center;
    }
}

/* -------------- */

.product {

  text-align: center;
  background-color: rgb(253, 210, 157);   
  max-width: 1078px;
  height: auto;
  margin: 0 auto; 
  color: rgb(85,45,0);
  border-radius: 100px;
  vertical-align: top;
  /* border: 1px solid rgb(50, 28, 5); */
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black; */ 

}

.product-figure {
  margin: 0rem 1.5rem 1rem 1.5rem; 
  text-align: center;
  Font-Family: 'Maven Pro', Sans-Serif;
  font-size: 1.15rem;
  }

.product-caption {
  max-width: 200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 4.5rem;
  display: flex;
  align-items:center;
  justify-content: center;
}

.product-img {
  height: 15rem;
  /* border: 1px solid rgb(50, 28, 5); */
  border-radius: 20px;
}

.product-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  margin: 2rem 0 1rem 0; 
  width: 1078px;

}

.staff {
  /* height: auto; */
  margin: 0 auto; 
  /* border: 1px solid black; */
  color: rgb(34, 14, 9);
  border-radius: 100px;
  /* vertical-align: top; */
  max-width: 1078px;
  background-color: rgb(174, 203, 232);
  color: rgb(24, 29, 69);
}

.staff-title {
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  width: 300px;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  text-align: center;
  /* border: 1px solid black;  */
  /* margin: 2rem 0 1rem 0;  */

}

.staff-images-outer {
  max-width: 600px;
  margin: 0 auto;
}

.staff-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  Font-Family: 'Maven Pro', Sans-Serif;
  font-size: 1.15rem;
  vertical-align: middle;

}

.staff-figure {
  /* flex-wrap: wrap; */
  margin: 3px;

}

.staff-caption {
  /* display: block; */
  text-align: center;
  /* border: 1px solid black;  */
  border-radius: 20px;
  background-color: white;

}

.staff-img {
  height: 16rem;
  border-radius: 20px;

}

.bottom-image {
  margin-bottom: 2rem;
}

footer {
  width: 100%;
  background-color: rgb(253, 210, 157);   
  height: 7rem;
  position: relative;
  top: 14rem;
  Font-Family: 'Maven Pro', Sans-Serif;
  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
  color: rgb(85,45,0);


}

.footer-info {
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}

.footer-info li {
  display: inline-block;
  margin: 0.5rem;
}

footer p {
  margin: 0.5rem;
  position: relative;
  top: -2rem;
}

